{
    "extends": [
      "@antfu"
    ],
    "overrides": [
      {
        "files": ["*.vue"],
        "rules": {
          "no-console": "off",
          "brace-style": ["error", "stroustrup"],
          "curly": ["off"]
        }
      }
    ]
  }